.gradient-white {
  background: linear-gradient(0deg, #d6ae7b 0%, #eacda3 100%);
}
.gradient-red {
  background: linear-gradient(0deg, #dd2476 0%, #ff512f 100%);
}
.gradient-black {
  background: linear-gradient(0deg, #09203f 0%, #537895 100%);
}
.gradient-blue {
  background: linear-gradient(0deg, #6f86d6 0%, #48c6ef 100%);
}
.gradient-green {
  background: linear-gradient(0deg, #56ab2f 0%, #a8e063 100%);
}